<section class="cta cta-section text-white py-5">
  <div class="container text-center">
    <h2 class="fw-bold mb-3">Need Reliable Diesel Power?</h2>
    <p class="lead mb-4">
      Contact Today’s Generators for sales, rentals, repairs, and genuine spare parts.
    </p>
    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <!-- <a href="contact.html" class="btn btn-emerald btn-lg px-5">Get a Quote</a> -->
             <a href="#"
   class="btn btn-emerald btn-lg px-4 animate__animated animate__zoomIn animate__delay-2s"
   data-bs-toggle="modal"
   data-bs-target="#quoteModal">
  Get a Quote
</a>
      <a href="https://wa.me/234XXXXXXXXXX" class="btn btn-outline-emerald btn-lg px-5">WhatsApp Us</a>
    </div>
  </div>
</section>
